{% extends 'products/_base.html' %}

{% block content %}
    <main>
        <div class="container" style="margin-top: 100px">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">Thank you for the order!</h3>
                        </div>
                        <div class="card-body text-center">
                            <h4>
                                Your order has been successfully generated.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}