{% extends '_base.html' %}
{% block content %}


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            {% include 'nav/right_bar.html' %}

            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

            {% include 'nav/carousel.html' %}

                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top"
                                     src="/static/vendor/img/products/Adidas-hoodie.png"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">adidas Originals Black Monogram Hoodie</a>
                                </h4>
                                <h5>100 usdt</h5>
                                <p class="card-text">Soft fabric for sweatshirts. Style and comfort is a way of life.</p>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-success">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top"
                                     src="/static/vendor/img/products/Blue-jacket-The-North-Face.png" alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">The North Face blue jacket</a>
                                </h4>
                                <h5>100 usdt</h5>
                                <p class="card-text">
                                    Smooth fabric. Waterproof coating. Lightweight and warm down fill.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-success">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top"
                                     src="/static/vendor/img/products/Brown-sports-oversized-top-ASOS-DESIGN.png"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">ASOS DESIGN oversized sports top in brown</a>
                                </h4>
                                <h5>100 usdt</h5>
                                <p class="card-text">Plush material. Comfortable and soft.</p>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-success">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top"
                                     src="/static/vendor/img/products/Black-Nike-Heritage-backpack.png"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Nike Black Heritage Backpack</a>
                                </h4>
                                <h5>100 usdt</h5>
                                <p class="card-text">Thick fabric. Lightweight material.</p>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-success">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top"
                                     src="/static/vendor/img/products/Black-Dr-Martens-shoes.png"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Dr Martens 1461 Bex Black 3-Eye Platform Shoes</a>
                                </h4>
                                <h5>100 usdt</h5>
                                <p class="card-text">Smooth leather upper. Natural material.</p>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-success">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top"
                                     src="/static/vendor/img/products/Dark-blue-wide-leg-ASOs-DESIGN-trousers.png"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">ASOS DESIGN wide leg tailored trousers in navy</a>
                                </h4>
                                <h5>100 usdt</h5>
                                <p class="card-text">Lightweight stretch seersucker fabric Textured fabric.</p>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-success">Add to cart</button>
                            </div>
                        </div>
                    </div>

                </div>

                {% include 'nav/pagination.html' %}

            </div>

        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
        </div>
        <!-- /.container -->
    </footer>

{% endblock content %}

