{% load comment_filter %}
{% load static %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container ">
        <div class="row">
            <div class="container">

                <div class="form-outline mb-4" id="comments">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <label for="{{ form.username.id_for_label }}" class="form-label">
                                <strong><i>{{ field.label }}</i></strong>
                            </label>
                            {{ field }}
                        {% endfor %}
                        <button class="btn btn-info" type="submit">Add comment <i class="fas fa-comments"></i></button>

                    </form>
                </div>


                <h3>{{ product.comments.count }} Comments</h3>

                {% if product.comments.count %}
                    {% for comment in product.comments.all %}
                        <div class="media" id="commentLike{{ comment.id }}">
                            <a class="pull-left" href="#"><img class="media-object"
                                                               src="{% if user.image %} {{ user.image.url }}
                                                                {% else %}
                                                                    {% static 'vendor/img/users/default_avatar.jpg' %}
                                                                {% endif %}" alt=""></a>

                            {% if comment.active %}
                                <div class="media-body">
                                    <h4 class="media-heading">@{{ comment.author }}</h4>
                                    <p>{{ comment.body }}</p>

                                    <ul class="list-unstyled list-inline media-detail pull-left" style="display: flex;">
                                        <li><i class="fa fa-calendar"></i>added {{ comment.created|timesince }} ago</li>
                                    </ul>


                                    {% if comment|is_liked_by:request.user %}
                                        <ul class="list-unstyled list-inline media-detail pull-right">
                                            <li class="">
                                                <a href="{% url 'products:comment_like' comment_id=comment.id %}">Unlike
                                                    <i class="fas fa-thumbs-up mx-2 fa-xs"
                                                       style="margin-top: -0.16rem;"></i>
                                                    {{ comment.likes_count }}
                                                </a>
                                            </li>
                                        </ul>
                                    {% else %}
                                        <ul class="list-unstyled list-inline media-detail pull-right">
                                            <li class="">
                                                <a href="{% url 'products:comment_like' comment_id=comment.id %}">Unlike
                                                    <i class="far fa-thumbs-up mx-2 fa-xs text-black"
                                                       style="margin-top: -0.16rem;"></i>
                                                    {{ comment.likes_count }}
                                                </a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </div>
                            {% else %}
                                <p class="text-danger"><i>Comment was disabled</i></p>
                            {% endif %}

                            <!-- is_superuser -->
                            {% if request.user.is_superuser %}
                                <a href="{% url 'products:comment_admin' comment_id=comment.id %}"
                                   class="text-decoration-none">
                                    {% if comment.active %}
                                        <button class="btn-sm btn-warning ms-auto">Disabled</button>
                                    {% else %}
                                        <button class="btn-sm btn-success ms-auto">Enabled</button>
                                    {% endif %}
                                </a>
                                <a href="{% url 'products:comment_delete_admin' comment_id=comment.id %}" class="text-decoration-none">
                                    <button class="btn-sm btn-danger ms-auto">Delete</button>
                                </a>
                            {% endif %}
                        </div>

                        <!-- COMMENT 1 - END -->
                    {% endfor %}
                {% else %}
                    <p>No comments yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>