{% extends 'products/_base.html' %}
{% load comment_filter %}
{% load static %}
{% load humanize %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    <!-- Page Content -->
    <div class="container" style="margin-top: 20px; margin-bottom: 50px">
        <div class="row">
            <div class="col-lg-3">
                {% include 'nav/categories_right_bar.html' %}
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9">

                <div class="row">
                    {% for product in object_list %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="{% url 'products:product_details' product.id %}">
                                    <img class="card-img-top"
                                         src="{{ product.image.url }}"
                                         alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{% url 'products:product_details' product.id %}">{{ product.name }}</a>
                                    </h4>
                                    <h5>{{ product.price|intcomma }} usdt</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>

                                <!-- product.liked -->
                                <div class="container pull-right">
                                    {% if product|is_liked_by:request.user %}
                                        <div class="d-flex flex-row align-items-center text-primary">
                                            <p class="small mb-0">Unlike</p>
                                            <a href="{% url 'products:product_like' product_id=product.id %}">
                                                <i class="fas fa-thumbs-up mx-2 fa-xs"
                                                   style="margin-top: -0.16rem;"></i>
                                            </a>
                                            <p class="small mb-0">{{ product.likes_count }}</p>
                                        </div>

                                    {% else %}
                                        <div class="d-flex flex-row align-items-center">
                                            <p class="small text-muted mb-0">Like</p>
                                            <a href="{% url 'products:product_like' product_id=product.id %}">
                                                <i class="far fa-thumbs-up mx-2 fa-xs text-black"
                                                   style="margin-top: -0.16rem;"></i>
                                            </a>
                                            <p class="small text-muted mb-0">{{ product.likes_count }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- endproduct.liked -->

                                <div class="card-footer text-center">
                                    <a class="btn btn-outline-success"
                                       href="{% url 'products:basket_add'  product.id %}">
                                        Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if is_paginated %}
                    {% include 'nav/pagination.html' %}
                {% endif %}

            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    {% include 'products/footer.html' %}
{% endblock content %}

