
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link"
               href="{% if page_obj.has_previous %} {% url 'products:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}"
               tabindex="-1" aria-disabled="true">
                Previous
            </a>
        </li>

        {% for page in paginator.page_range %}
            <li class="page-item">
                <a class="page-link" href="{% url 'products:paginator' page %}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}

        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="page-link"
               href="{% if page_obj.has_next %} {% url 'products:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">
                Next
            </a>
        </li>

    </ul>
</nav>